<!-- Skills Section -->
<section class="page-section" id="skills">
    <div class="container relative">

        <div class="row">

            <div class="col-sm-3">
                <h2 class="section-title font-alt align-right mt-0 mb-70 mb-sm-40">توانایی‌ها</h2>
            </div>

            <div class="col-sm-9">

                <div class="section-text mb-50 mb-xs-30">
                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها
                    و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز
                </div>

                <div class="row">

                    <div class="col-sm-6 mb-sm-50 mb-xs-30">

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                aria-valuemax="100">
                                Branding, % <span>90</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100">
                                Web Design, % <span>80</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0"
                                aria-valuemax="100">
                                CSS3, % <span>85</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                    </div>

                    <div class="col-sm-6 mb-sm-50 mb-xs-30">

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                aria-valuemax="100">
                                HTML5, % <span>80</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                aria-valuemax="100">
                                JS/jQuery, % <span>75</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                        <!-- Bar Item -->
                        <div class="progress tpl-progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                                aria-valuemax="100">
                                Wordpress, % <span>65</span>
                            </div>
                        </div>
                        <!-- End Bar Item -->

                    </div>

                </div>

            </div>

        </div>

    </div>
</section>
<!-- End Skills Section -->