    <!-- Education Section -->
    <section class="page-section" id="education">
        <div class="container relative">
            <div class="row">
                
                <!-- Section Title -->
                <div class="col-sm-3">
                    <h2 class="section-title font-alt align-right mt-0 mb-70 mb-sm-40">تحصیلات</h2>
                </div>
                <!-- End Section Title -->
                
                <!-- Section Content -->
                <div class="col-sm-9">
                    <div class="section-text">
                        <div class="row">
                            
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="col-md-3 black">2015&ndash;2016</div>
                                    <div class="col-md-9">
                                        <h4 class="mt-0 mb-0">Master Degree in UI Web Design</h4>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row">
                                    <div class="col-md-3 black">2014&ndash;2015</div>
                                    <div class="col-md-9">
                                        <h4 class="mt-0 mb-0">Internships in Software Engineering</h4>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row">
                                    <div class="col-md-3 black">2013&ndash;2014</div>
                                    <div class="col-md-9">
                                        <h4 class="mt-0 mb-0">Bachelor in Usability Engineering</h4>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    </div>
                                </div>
                                
                                <hr>
                                
                            </div>
                            
                            <div class="col-md-6">
                                
                                <div class="row">
                                    <div class="col-md-3 black">2012&ndash;2013</div>
                                    <div class="col-md-9">
                                        <h4 class="mt-0 mb-0">Internships in QA</h4>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    </div>
                                </div>
                                
                                <hr>
                                
                                <div class="row">
                                    <div class="col-md-3 black">2009&ndash;2013</div>
                                    <div class="col-md-9">
                                        <h4 class="mt-0 mb-0">Bachelor in Computer Science</h4>
                                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ
                                    </div>
                                </div>
                                
                                <hr>
                                
                           </div>
                            
                        </div>
                    </div>
                </div>
                <!-- End Section Content -->
                
            </div>
        </div>
    </section>
    <!-- End Education Section -->