    <!-- Section -->
    <section class="page-section bg-dark-lighter bg-dark-alfa-70" data-background="assets/images/cv-resume/section-bg-1.jpg">
        <div class="container relative">
            
            <div class="row alt-features-grid font-alt">
                
                <!-- Features Item -->
                <div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.1s">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon white">
                            <span class="icon-telescope"></span>
                        </div>
                        <h3 class="alt-features-title">Unique Methods</h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon white">
                            <span class="icon-presentation"></span>
                        </div>
                        <h3 class="alt-features-title">Quality Services</h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
                <!-- Features Item -->
                <div class="col-sm-4 wow fadeInLeft" data-wow-delay="0.3s">
                    <div class="alt-features-item align-center">
                        <div class="alt-features-icon white">
                            <span class="icon-piechart"></span>
                        </div>
                        <h3 class="alt-features-title">Excellent result</h3>
                    </div>
                </div>
                <!-- End Features Item -->
                
            </div>
                        
        </div>
    </section>
    <!-- End Section -->
