<main id="main">

    <!-- Home Section -->
    <section class="page-section bg-dark bg-dark-alfa-70" data-background="assets/images/cv-resume/section-bg-1.jpg"
        id="home">
        <div class="relative container">

            <!-- Hero Content -->
            <div class="home-content">
                <div class="home-text">
                    <div class="row mt-60 mt-xs-20">

                        <div class="col-sm-6 col-lg-5 align-center pt-20 pt-lg-0 mb-xs-30">
                            <div class="hs-line-4 font-alt mb-20">سایین دامغانیان</div>
                            <h1 class="hs-line-15 font-alt mb-40 mb-xs-20">برنامه نویس</h1>
                            <div class="section-text white mb-70 mb-xs-40 text-justify">
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی
                                    می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و
                                    متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی
                                    الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید
                                    داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان
                                    مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود
                                    طراحی اساسا مورد استفاده قرار گیرد.
                                </p>
                                <p>
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای
                                    شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می
                                    باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده
                                </p>
                                <hr class="white mb-30">
                                <div>
                                    <!-- <h4 class="font-alt mt-0 mb-20">Profile</h4> -->
                                    <div>
                                        <strong>سن:</strong>
                                        ۳۶
                                    </div>
                                    <!-- <div>
                                        <strong>Address:</strong>
                                        245 Quigley Blvd, Ste K
                                    </div> -->
                                    <!-- <div>
                                        <strong>Phone:</strong>
                                        +11 3 8376 6284
                                    </div> -->
                                    <div>
                                        <strong>ایمیل:</strong>
                                        <a href="mailto:saeen.damghanian@gmail.com">saeen.damghanian(at)gmail.com</a>
                                    </div>
                                    <!-- <div>
                                        <strong>Status:</strong>
                                        Available
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-lg-offset-1">
                            <img src="assets/images/cv-resume/image-1.jpg" alt="" />
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Hero Content -->

        </div>
    </section>
    <!-- End Home Section -->

    <app-skills></app-skills>

    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->

    <app-experience></app-experience>
    <app-feature></app-feature>
    <app-education></app-education>

    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->

    <app-portfolio></app-portfolio>

    <!-- Divider -->
    <hr class="mt-0 mb-0 " />
    <!-- End Divider -->

    <app-contact></app-contact>

</main>