    <!-- Contact Section -->
    <section class="page-section" id="contact">
        <div class="container relative">
            
            <div class="row">
                
                <div class="col-sm-3">
                    <h2 class="section-title font-alt align-right mt-0 mb-70 mb-sm-40">تماس با من</h2>
                </div>
                
                <div class="col-sm-9">
                    
                    <div class="section-text mb-70 mb-xs-40">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
                    </div>
                    
                    <div class="row">
                        
                        <div class="col-sm-5 mb-sm-60">
                            
                            <!-- Phone -->
                            <div class="contact-item mb-30">
                                <div class="ci-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    تلفن
                                </div>
                                <div class="ci-text">
                                    +11 3 8376 6284
                                </div>
                            </div>
                            <!-- End Phone -->
                            
                            <hr class="mb-30"/>
                            
                            <!-- Address -->
                            <div class="contact-item mb-30">
                                <div class="ci-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    آدرس
                                </div>
                                <div class="ci-text">
                                    245 Quigley Blvd, Ste K
                                </div>
                            </div>
                            <!-- End Address -->
                            
                            <hr class="mb-30"/>
                            
                            <!-- Email -->
                            <div class="contact-item">
                                <div class="ci-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="ci-title font-alt">
                                    ایمیل
                                </div>
                                <div class="ci-text">
                                    <a href="mailto:saeen.damghanian@gmail.com">saeen.damghanian@gmail.com</a>
                                </div>
                            </div>
                            <!-- End Email -->
                            
                        </div>
                        
                        <div class="col-sm-7">
                            
                            <form class="form contact-form" id="contact_form">
                                <div class="clearfix">
                                    
                                    <!-- Name -->
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" class="input-md round form-control" placeholder="نام" pattern=".{3,100}" required>
                                    </div>
                                    
                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" class="input-md round form-control" placeholder="ایمیل" pattern=".{5,100}" required>
                                    </div>
                                    
                                    <!-- Message -->
                                    <div class="form-group">
                                        <textarea name="message" id="message" class="input-md round form-control" style="height: 100px;" placeholder="متن پیام"></textarea>
                                    </div>
                                    
                                </div>
                                        
                                <div class="clearfix">
                        
                                    <div class="cf-right-col">
                                        
                                        <!-- Inform Tip -->                                        
                                        <div class="form-tip pt-20">
                                            <i class="fa fa-info-circle"></i> لطفا تمام موارد را تکمیل نمایید
                                        </div>
                                        
                                    </div>
                                    
                                    <div class="cf-left-col">
                                        
                                        <!-- Send Button -->
                                        <div class="align-left pt-10">
                                            <button class="submit_btn btn btn-mod btn-medium btn-circle" id="submit_btn">ارسال</button>
                                        </div>
                                        
                                    </div>
                                    
                               </div>
                                   
                               <div id="result" role="region" aria-live="polite" aria-atomic="true"></div>
                            </form>
                            
                        </div>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
    </section>
    <!-- End Contact Section -->