<!-- Expirience Section -->
<section class="page-section" id="expirience">
    <div class="container relative">
        <div class="row">

            <!-- Section Title -->
            <div class="col-sm-3">
                <h2 class="section-title font-alt align-right mt-0 mb-70 mb-sm-40">تجربیات</h2>
            </div>
            <!-- End Section Title -->

            <!-- Section Content -->
            <div class="col-sm-9">
                <div class="section-text">
                    <div class="row">
                        <div class="col-md-2 black">2015&ndash;present</div>
                        <div class="col-md-10">
                            <h4 class="mt-0 mb-0">Senior Vice President, Head of Design</h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-2 black">2013&ndash;2015</div>
                        <div class="col-md-10">
                            <h4 class="mt-0 mb-0">Interactive Creative Director</h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-md-2 black">2010&ndash;2013</div>
                        <div class="col-md-10">
                            <h4 class="mt-0 mb-0">Freelance Creative Director and Senior Designer</h4>
                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Section Content -->

        </div>
    </div>
</section>
<!-- End Expirience Section -->